<div class="container-fluid" style="background: #FFFFFF">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8" style="padding: 0">
          <div class="logo_box" id="toyotaLogo">
            <img class="logo_image" src="/assets/toyota.svg">
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="dealerName" id="dealerName">
            {{dealerName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="header-red-main" id="pageTitle">
  What comes next<br>
</div>

<div class="text-under-header-main" id="pageTagline">
  Let’s talk about the steps you have left before driving off in your new vehicle<br>
  <div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;&nbsp; Verify your information for accuracy <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;&nbsp; Discuss how to protect your investment and make decisions that
    meet your needs<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;&nbsp; Answer any questions you may have<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •&nbsp;&nbsp; Review and sign documents<br>
    Final step is to meet with your sales consultant to personalize your vehicle and learn more about its features
  </div>
</div>

<div class="horizontal_line"></div>

<div class="container-fluid" style="background: #FFFFFF">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <p class="text-indipent" id="pageBrowse">
            In the meantime, browse our options to protect your investment
          </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <button class="prev_navigation" id="corouselLeft" (click)="prev()">
            <img src="/assets/right.svg" />
          </button>
          <button class="next_navigation" id="corouselRight" (click)="next()">
            <img src="/assets/right.svg" class="flipimg" />
          </button>
        </div>
      </div>
    </div>



   

<div class="half-background">
  <div class="cards_bucket">
    <carousel #carousel>
        

      <ng-container *ngFor="let item of products;">
        <ng-container *carouselItem>
          <div style="margin-right: 20px">
            <cards [productid]="item.objectId" [productDetailList]="item"></cards>
          </div>
        </ng-container>
      </ng-container>
    </carousel>
  </div>
</div>