.logo_box {
	height: 60px;
	width: 60px;
	background-color: #CC0000;
}

.logo_image {
	margin-top: 18px;
	margin-left: 11px;
}

.text-under-header-main {
	padding-top: 9px;
	padding-left: 103px;
	background: #FFFFFF;
	color: rgba(27, 37, 50, 0.8);
	/* font-family: "Helvetica Neue";	 */
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 9px;
}

.horizontal_line {
	border-bottom: 1px solid rgba(27, 37, 50, 0.08);
}

.dealerName {
	padding-top: 25px;
	padding-right: 25px;
	float: right;
	font-size: 16px;
	font-weight: bold;
	color: rgba(27, 37, 50, 0.8);
}

.header-red-main {
	padding-top: 8px;
	background: #FFFFFF;
	padding-left: 103px;
	color: #CC0000;
	/* font-family: "Helvetica Neue";	 */
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0px;
}

.text-message {
	padding-top: 9px;
	padding-left: 103px;
	color: red;
	/* font-family: "Helvetica Neue";	 */
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 9px;
}

.text-indipent {
	margin-top: 22px;
	padding-left: 90px;
	color: #1B2532;
	/*font-family: "Helvetica Neue";*/
	font-size: 16px;
	font-family: "Helvetica";
	font-weight: bold;
	font-weight: 500;
	line-height: 24px;
}

.half-background {
	padding-left: 103px;
	background-color: #F5F6F8;
}

.cards_bucket {
	padding-top: 41px;
}


@media only  screen and (max-width:1024px)
{
	.logo_box {
		height: 60px;
		width: 60px;
		background-color: #CC0000;
	}
	
	.logo_image {
		margin-top: 18px;
		margin-left: 11px;
	}
	
	.dealerName {
		padding-top: 20px;
		padding-right: 20px;
		float: right;
		font-size: 13px;
		font-weight: bold;
		color: rgba(27, 37, 50, 0.8);
	}
	
	.header-red-main {
		padding-top: 6px;
		background: #FFFFFF;
		padding-left: 103px;
		color: #CC0000;
		/* font-family: "Helvetica Neue";	 */
		font-size: 29px;
		font-weight: bold;
		margin-bottom: 0px;
	}
	
	.text-under-header-main {
		padding-top: 7px;
		padding-left: 103px;
		background: #FFFFFF;
		color: rgba(27, 37, 50, 0.8);
		/* font-family: "Helvetica Neue";	 */
		font-size: 14px;
		line-height: 19px;
		padding-bottom: 7px;
	}
	
	.horizontal_line {
		border-bottom: 1px solid rgba(27, 37, 50, 0.08);
	}
	
	.text-indipent {
		padding-left: 90px;
		color: #1B2532;
		/*font-family: "Helvetica Neue";*/
		font-size: 13px;
		font-family: "Helvetica";
		font-weight: bold;
		font-weight: 500;
		line-height: 19px;
	}
	
	.half-background {
		padding-left: 103px;
		background-color: #F5F6F8;
	}
	
	.cards_bucket {
		padding-left: 0px;
		padding-top: 22px;
	}
}
