.view-brochure:hover
{
	text-decoration: underline;
}


.mat-dialog-parent {
	width: 100%;
	/* //height:100%; */
}

.mat-dialog-container {
	padding: 0 !important;
	background-color: white!important;
	object-fit: contain;
	box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.3);
	align-items: left;
}

img {
	height: 30%;
	width: 90%;
	padding-left: 2%;
}

.half-background {
	background-color: #F5F6F8;
	z-index: -1;
	width: 100%;
}

.cdk-overlay-pane {
	display: block !important;
}

.mat-dialog-title {
	position: relative;
	height: 40px;
	color: #CC0000;
	font-family: "Helvetica";
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	/* padding-top: 45px;
		padding-left:20px; */
}

.content {
	height: 24px;
	color: rgba(27, 37, 50, 0.8);
	font-family: "Helvetica";
	font-size: 18px;
	line-height: 24px;
}

.video-img {
	position: relative;
	left: 0;
	top: 0;
}

.play-icon {
	position: absolute;
	left: 140px;
	right: 140px;
	top: 60px;
	width: 50px;
	height: 50px;
}

.footer {
	background-color: #FFFFFF;
	box-shadow: 0 0 1px 0 rgba(27, 37, 50, 0.4), 0 0 16px 0 rgba(27, 37, 50, 0.12);
	position: fixed;
	margin-left: -190px;
	bottom: 0;
	height: 80px;
	width: 150%;
	padding: 0
}

select option {
	color: #CC0000;
}

.sub-content {
	color: rgba(27, 37, 50, 0.8);
	font-family: "Helvetica";
	font-size: 18px;
	line-height: 24px;
	padding-left:6px;
	padding-right:6px;
}

.inline {
	float: left;
	margin: 12px;
	border: 0px;
	color: #CC0000;
}

.inline option:not(:checked) {
	color: black;
}

.inline option:checked {
	color: #CC0000;
}

.mat-expansion-panel {
    display: inline
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}

 :host ::ng-deep .tabset1 a.nav-link {
    color: black;
}

 :host ::ng-deep .tabset1 a.nav-link.active {
    color: #CC0000;
    font-weight: bold;
}

select:active {
    color: #CC0000;
}

.flipimg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.view-brochure {
    margin-top: 40px;
    position: absolute;
    margin-left: 260px;
    margin-bottom: 37px;
    margin-right: 571px;
    height: 24px;
    width: 150px;
    color: #CC0000;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 550;
    line-height: 24px;
}

.left_navigate {
    margin-top: 40px;
    position: absolute;
    margin-left: 140px;
    margin-bottom: 37px;
    border: 1px solid rgba(27, 37, 50, 0.12);
    background-color: #FFFFFF;
    background-image: "/assets/logo.png";
    z-index: 1000;
}

.right_navigate {
    position: absolute;
    z-index: 1000;
    top: 98%;
    left: 92%;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(27, 37, 50, 0.12);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.icon-brochure {
    margin-top: -8px;
    position: absolute;
    margin-left: -60px;
    height: 34px;
    width: 50px;
}

.rectangle {
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(27, 37, 50, 0.4), 0 0 16px 0 rgba(27, 37, 50, 0.12);
    margin-left: -180px;
    margin-bottom: -55px;
    margin-right: -120px;
    height: 99px;
    width: 1000px;
}

.navigation {
    padding-bottom: 5%
}

.left_navigate-prev {
    margin-top: 30px;
    position: absolute;
    margin-left: 435px;
    margin-bottom: 37px;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(27, 37, 50, 0.12);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.left_landing {
    margin-top: 20px;
    position: relative;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(27, 37, 50, 0.12);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.right_navigate-next {
    margin-top: 30px;
    position: absolute;
    margin-left: 480px;
    margin-bottom: 37px;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(27, 37, 50, 0.12);
    background-color: #FFFFFF;
    border-radius: 50%;
}